:root {
  --Cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
  --Left-Bg: #2bb3b1;
  --Right-Bg: #4abebd;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  background: hsl(206, 47.1%, 93.3%);
}

.container {
  background: #ffffff;
  width: 630px;
  height: 470px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 10px 10px 15px #d7e5f2;
}

.conteudo {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.conteudo__superior {
  height: 46%;
}

.conteudo__superior .titulo {
  color: var(--Cyan);
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 40px;
  margin-left: 35px;
}

.conteudo__superior .tituloSecundario {
  margin-top: 20px;
  color: var(--Bright-Yellow);
  font-size: 1rem;
  margin-left: 35px;
}

.conteudo__superior .texto {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--Grayish-Blue);
  margin-left: 35px;
  margin-right: 35px;
}

.conteudo__inferior {
  display: flex;
  height: 54%;
}

.conteudo__inferior-esquerda {
  background: var(--Left-Bg);
  width: 50%;
  border-radius: 0 0 0 0.5rem;
}

.conteudo__inferior-esquerda .titulo {
  margin-left: 35px;
  margin-top: 40px;
  margin-bottom: 0;
  color: var(--Light-Gray);
}

.conteudo__inferior-esquerda .valor {
  margin-left: 35px;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--Light-Gray);
  margin-top: 15px;
  margin-bottom: 0;
}

.conteudo__inferior-esquerda .continuacao-valor {
  display: inline-block;
  color: var(--Light-Gray);
  margin-bottom: 0;
}

.conteudo__inferior-esquerda .access-descricao {
  margin-left: 35px;
  margin-top: 5px;
  color: var(--Light-Gray);
}

.conteudo__inferior-esquerda .botao {
  margin-left: 35px;
  width: 75%;
  height: 47px;
  background: var(--Bright-Yellow);
  border-radius: 0.2rem;
  border: none;
  color: var(--Light-Gray);
  font-size: 1rem;
  font-weight: 700;
}

.conteudo__inferior-direita {
  background: var(--Right-Bg);
  width: 50%;
  border-radius: 0 0 0.5rem 0;
}

.conteudo__inferior-direita .titulo {
  color: var(--Light-Gray);
  margin-left: 35px;
  margin-top: 40px;
}

.conteudo__inferior-direita .lista {
  margin-top: 15px;
  color: var(--Light-Gray);
  padding-left: 35px;
}

.conteudo__inferior-direita .lista li {
  list-style-type: none;
}

@media screen and (max-width: 630px) {
  .container {
    width: 80%;
    height: auto;
    position: initial;
    left: initial;
    top: initial;
    transform: initial;
    margin: 75px auto;
  }

  .conteudo__inferior {
    flex-direction: column;
    width: 100%;
  }

  .conteudo__inferior-esquerda{
    width: 100%;
    border-radius: 0;
  }

  .conteudo__inferior-esquerda .botao{
    margin-bottom: 20px;
  }
  
  .conteudo__inferior-direita{
    width: 100%;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .conteudo__inferior-direita .lista{
    margin-bottom: 30px;
  }
}
