:root {
  font-size: 16px;
  margin: 40px;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  background: hsl(206, 47.1%, 93.3%);
}

.container {
  background: #ffffff;
  width: 39.37rem;
  height: 29.36rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  padding: 10px;
  box-shadow: 10px 10px 15px #d7e5f2;
}

.superior h1 {
  color: hsl(179, 62%, 43%);
  margin-top: 2rem;
  margin-left: 2rem;
  font-size: 1.5rem;
}

.superior h2 {
  color: hsl(71, 73%, 54%);
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-left: 2rem;
}

.superior p {
  color: #aeb2bb;
  margin-left: 2rem;
  line-height: 1.5rem;
}

.container-baixo {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 55%;
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
}

.titulo-inferior-direita, .titulo-inferior-esquerda {
  color: #e4fbfb;
  margin-left: 2rem;
  margin-top: 2rem;
}

.inferior-esquerda {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: #2bb3b1;
  border-radius: 0 0 0 0.5rem;
}

.valor {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 400;
  margin-left: 2rem;
  display: inline;
}

.continuacao-valor {
  display: inline;
  margin-left: 0.5rem;
  color: #a5e8ea;
}

.access-descricao {
  color: #ffffff;
  margin: 1rem 0 0 2rem;
}

.botao {
  position: relative;
  height: 3rem;
  width: 75%;
  background: hsl(71, 73%, 54%);
  border: none;
  border-radius: 0.3rem;
  color: #ffffff;
  font-weight: bold;
  margin: 2rem 12.5% 0 12.5%;
  box-shadow: 10px 10px 15px #31a189;
}

.botao:active{
  background: hsla(71, 73%, 54%, 0.768);
  transform: scale(0.95);
}

.inferior-direita {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: #4abebd;
  border-radius: 0 0 0.5rem 0;
}

.inferior-direita ul {
  list-style-type: none;
  padding-left: 2rem;
  padding-top: 0;
}

.inferior-direita li {
  font-weight: normal;
  font-size: 0.9rem;
  color: #a5e8ea;
  margin: 0.2rem 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 660px) {
  .container {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    padding: 10px;
    box-shadow: 10px 10px 15px #d7e5f2;
  }

  .superior {
    position: relative;
    margin-top: -25px;
    width: 100%;
    height: 40%;
  }

  .container-baixo {
    position: absolute;
    height: 68%;
    width: 100%;
  }

  .titulo-inferior-direita {
    margin-top: 1.5rem;
    margin-left: 2rem;
  }

  .titulo-inferior-esquerda {
    color: #e4fbfb;
    margin-left: 2rem;
    padding-top: 1.5rem;
  }

  .inferior-esquerda {
    position: relative;
    height: 50%;
    width: 100%;
    background: #2bb3b1;
    border-radius: 0;
  }

  .inferior-direita {
    position: absolute;
    height: 45%;
    width: 100%;
    background: #4abebd;
    border-radius: 0 0 0.5rem 0.5rem;
  }
}
